.grid-container {
  padding: 4vw 10vw;
  font-family: logo;

}

.grid {
  display: grid;
  grid-template-rows: 15rem 15rem;
  grid-gap: 2rem;
}

.grid-row-1 {
  display: grid;
  grid-template-columns: 38.3vw 38.3vw;

  grid-gap: 2rem;
}

.category1 {
  display: flex;
  height: 15rem;
  background-color: var(--white);
  border-radius: 20px;
  /* overflow: hidden; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  align-items: center;
  justify-content: center;

}

.cateogry-img-container-1 {
  height: 13rem;
  object-fit: contain;
  flex: 10;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 2
}


.cateogry-img-container-1>img {
  height: 12rem;
  object-fit: contain;
}

.cateogry-details-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex: 2;
  font-size: 1.5rem;
  height: 70%;
}



.grid-row-2 {
  display: grid;
  grid-template-columns: 24.7vw 24.7vw 24.7vw;
  grid-gap: 2rem;
}

.category2 {
  display: flex;
  height: 15rem;
  background-color: var(--white);
  border-radius: 20px;
  /* overflow: hidden; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  align-items: center;
  justify-content: center;

}

.cateogry-img-container-2 {
  height: 13rem;

  flex: 10;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 2
}


.cateogry-img-container-2 img {
  height: 8.5rem;
  object-fit: contain;

}



.cateogry-details-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 60%;
  width: 100%;
  font-size: 0.9rem;

  flex: 2
}

@media only screen and (max-width: 600px) {
  .grid-container {
    padding: 8vw 10vw;
  }

  .grid {
    grid-template-rows: 10rem 8rem;
    grid-gap: 1.5rem;
  }

  .grid-row-1 {

    grid-gap: 1.5rem;
  }


  .grid-row-2 {

    grid-gap: 1.15rem !important;
  }


  .category1 {
    height: 10rem;
  }

  .cateogry-img-container-1 {
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cateogry-img-container-1>img {
    height: 7rem;
  }

  .cateogry-details-1 {
    font-size: 0.7rem;
    display: none;
  }


  .category2 {



    height: 8rem;
  }




  .cateogry-img-container-2 img {
    height: 5rem;

  }



  .cateogry-details-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 60%;
    width: 100%;
    font-size: 0.9rem;

    background-color: green;
    flex: 2;



    /* sow */
    display: none;
  }
}