.priceCalculator {
  margin-top: 5vh;
  margin-left: 2rem;
  flex: 2;
}

.priceCalculator>h1 {
  font-family: logo;
  color: var(--primary);
  font-size: 1.5rem;
}

.priceDetails {
  margin-top: 0.5rem;
  padding: 1rem;
  border-radius: 5px;
  /* border: 1px solid var(--primary); */
  background-color: var(--white);
}

.product-price {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  margin: 0.7rem 0;
}

.final-amount {
  border-top: 1px solid var(--primary);
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  padding: 0.5rem 0;
}

.priceCalculator-btn-container {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.priceCalculator-btn {
  font-size: 1.5rem;
  padding: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .priceCalculator {
    margin: 2vh;
    flex: 2;
  }
}