.loginPage {
    min-height: 98vh;
    min-width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media only screen and (max-width: 600px) {
    .loginPage {
        min-height: 95vh;

    }
}