
.productFilter {
  background-color: var(--white);
  margin: 5vh 0vh;
  max-height: 40rem;
  border-radius: 5px;
  /* border: 2px solid var(--primary); */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  /* padding: 1rem 0rem; */
  min-width: 15rem;
  position: sticky;
  top: 10vh;
  bottom: 0;
  padding: 0.5 1rem ;

}

.filter-0 {
  width: 90%;
  padding: 2% 5%;
}
.filter-clear-all{
  cursor: pointer;
  padding: 0.2 1rem;
  
}
.fliter-1,
.fliter-2,
.fliter-3,
.filter-4 ,.filter-5{
  width: 90%;
  /* background-color: palevioletred; */
  border-top: 1px solid var(--primary);
  margin: 0% 5%;
}
.fliter-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.05rem;
  color: var(--primary);
  padding: 0.2 1rem;

}

.filter-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin:0.1rem 0
  
}

.filter-option {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.95rem;
  padding:  0rem;
}

.product-filter-toggle-btn{
  display: none;
}

@media only screen and (max-width: 600px) {
  .product-filter-toggle-btn{
   
    display: flex;
    align-items: center;
    justify-content:flex-end;
    position: fixed;
    
    width:95%;
    padding:0.5rem  5% 0.5rem 0;
    bottom:0;
    left:0;
    right:0;
    background-color: var(--background);
    z-index:10;
    border-top:1px solid var(--primary)

  }

  .productFilter{
    display: none;
    height: 34rem;
    z-index:100;
    background-color: var(--white);
    position: fixed;
    top:-5vh;
    left:0;
    right:0;
    bottom:0;
    
  }

  .fliter-heading {
    margin-bottom: 0.1rem;
  }
  

  .filter-0 {
    width: 90%;
    padding: 0.5% 5%;
    margin:0;
  }
  .fliter-1,
  .fliter-2,
  .fliter-3,
  .filter-4 ,.filter-5{
    padding: 0% 5%;
    margin:0;
  }

  

  .show{
    display: flex;
  }

  .hide{
    display: none;
  }



  
  
}
