.noMatch {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.noMatch p {
    font-size: 1.5rem;
}

.noMatch p span {
    font-size: 1.7rem;
    font-weight: bold;
}


.noMatch img {
    height: 50vh;
}